@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(assets/BG.jpg);
    background-size: cover;
    background-position: center;
}

.wrapper{
    width: 420px;
    height: 480px;
    border: 2px solid rgba(0,0,0,0.1);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.wrapper .formwrapper{
    width: 100%;
    padding: 80px 40px;
}

.formwrapper .title{
    font-size: 36px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 36px rgba(0,0,0,0.9);
}

.user_input{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    position: relative;
    border-bottom: 2px solid rgba(255,255,255,0.4);
    margin: 30px 0 ;
}

.user_input label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 0.9em;
    color: rgba(255,255,255,0.5);
    font-weight: 500;
    pointer-events: none;
    transition: 0.5;
}

.user_input input:focus~label,
.user_input input:valid~label{
    top: -3px;
}

.user_input input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    
}



.btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
}